@model System.Collections.Generic.List<Semantic.Project.Demo.Models.SearchViewResult>

    @{
        Layout = null;
        if (Model == null)
        { return; }

        var item = Sitecore.Context.Item;
        var title = item.Fields["Title"] != null ? item.Fields["Title"].Value : item.Name;
        var desciption = item.Fields["Description"] != null
            ? item.Fields["Description"].Value
            : item.Fields["Information"] != null
                ? item.Fields["Information"].Value
                : item.Fields["Body"].Value;
    }


    <div class="container bootstrap snippet">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <h1>@title</h1>
                        @Html.Raw(desciption)

                        <br><br><br>

                        <h2>Related items</h2>
                        @foreach (var result in Model)
                        {
                            <div class="hr-line-dashed"></div>
                            <div class="search-result">
                                <h3><a href="@result.Url">@result.Title</a>
                                </h3>
                                <p>
                                    @if (result.Desciption.Length > 2000)
                                    {
                                        @Html.Raw(result.Desciption.Substring(0, 2000))
                                        <text>...</text>
                                    }
                                    else
                                    {
                                        @Html.Raw(result.Desciption)
                                    }

                                </p>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>



  
